In [1]:
import requests
from dotenv import load_dotenv
import os 
import csv
from pathlib import Path
import json
import pandas as pd

In [100]:
# Use Pandas to read the following CSV files into DataFrames. Be sure to convert the dates to a DateTimeIndex.
# whale_returns.csv: Contains returns of some famous "whale" investors' portfolios.
csvpath = Path('./Starter_Code/Resources/whale_returns.csv')
# Whale_data = pd.read_csv(csvpath, index_col='Date')
Whale_data = pd.read_csv(csvpath)
# Whale_data =pd.DateTimeIndex('Date',inplace = True )
Whale_data = Whale_data.set_index(pd.DatetimeIndex(Whale_data['Date']))
Whale_data.drop(['Date'], axis=1, inplace= True)
Whale_data.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [ ]:
type(Whale_data)

In [99]:
# algo_returns.csv: Contains returns from the in-house trading algorithms from your company.
csvpath = Path('./Starter_Code/Resources/algo_returns.csv')
Algo_data = pd.read_csv(csvpath)
Algo_data = Algo_data.set_index(pd.DatetimeIndex(Algo_data['Date']))
Algo_data.drop(['Date'], axis=1, inplace= True)
Algo_data

              Algo 1    Algo 2
Date
2014-05-28  0.001745       NaN
2014-05-29  0.003978       NaN
2014-05-30  0.004464       NaN
2014-06-02  0.005692       NaN
2014-06-03  0.005292       NaN
...              ...       ...
2019-04-25  0.000682 -0.007247
2019-04-26  0.002981  0.005256
2019-04-29  0.005208  0.002829
2019-04-30 -0.002944 -0.001570
2019-05-01  0.000094 -0.007358

[1241 rows x 2 columns]

In [85]:
Algo_data.tail()

                  Date    Algo 1    Algo 2
Date
2019-04-25  2019-04-25  0.000682 -0.007247
2019-04-26  2019-04-26  0.002981  0.005256
2019-04-29  2019-04-29  0.005208  0.002829
2019-04-30  2019-04-30 -0.002944 -0.001570
2019-05-01  2019-05-01  0.000094 -0.007358

In [101]:
# sp500_history.csv: Contains historical closing prices of the S&P 500 Index.
csvpath = Path('./Starter_Code/Resources/sp500_history.csv')
sp500_data = pd.read_csv(csvpath)
sp500_data = sp500_data.set_index(pd.DatetimeIndex(sp500_data['Date']))
sp500_data.drop(['Date'], axis=1, inplace= True)
sp500_data.head()

               Close
Date
2019-04-23  $2933.68
2019-04-22  $2907.97
2019-04-18  $2905.03
2019-04-17  $2900.45
2019-04-16  $2907.06

### 2. Identify and remove null values.

In [102]:
Whale_data.isnull().sum()

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [103]:
sp500_data.isnull().sum()

Close    0
dtype: int64

In [104]:
Algo_data.isnull().sum()

Algo 1    0
Algo 2    6
dtype: int64

In [105]:
Algo_data.dropna()

              Algo 1    Algo 2
Date
2014-06-05  0.004062  0.013285
2014-06-06  0.001857  0.008284
2014-06-09 -0.005012  0.005668
2014-06-10  0.004406 -0.000735
2014-06-11  0.004760 -0.003761
...              ...       ...
2019-04-25  0.000682 -0.007247
2019-04-26  0.002981  0.005256
2019-04-29  0.005208  0.002829
2019-04-30 -0.002944 -0.001570
2019-05-01  0.000094 -0.007358

[1235 rows x 2 columns]

In [106]:
Algo_data.tail()

              Algo 1    Algo 2
Date
2019-04-25  0.000682 -0.007247
2019-04-26  0.002981  0.005256
2019-04-29  0.005208  0.002829
2019-04-30 -0.002944 -0.001570
2019-05-01  0.000094 -0.007358

In [107]:
Whale_data.dropna()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,0.008149,0.009162,0.012355,0.010434
2019-04-29,0.001254,0.002719,0.006251,0.005223
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833

In [108]:
Whale_data.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

### 3.Remove any non-numeric values (e.g., dollar signs) from the DataFrames and convert the data types as needed.

In [109]:
#DONT WORK--------------------------------------------------
#sp500_data.columns = sp500_data.columns.str.replace('[#@$&]', '')
#Whale_data['ClosingPrice']= Whale_data['Close'].str.replace('[#@$&]','')
#----------------------------------------------------------

# Runs but doesnt remove $-------------------------------------
# sp500_data.columns = sp500_data.columns.str.replace('$','', regex=True)
#--------------------------------------------------------------


sp500_data["Close"] = sp500_data["Close"].str.replace("$","").astype(float)
sp500_data.head()
#UNSURE why this throws error but it works so eh ok for now.

C:\Users\danie\anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # This is added back by InteractiveShellApp.init_path()

              Close
Date
2019-04-23  2933.68
2019-04-22  2907.97
2019-04-18  2905.03
2019-04-17  2900.45
2019-04-16  2907.06

### 4.The whale portfolios and algorithmic portfolio CSV files contain daily returns, but the S&P 500 CSV file contains closing prices.
### Convert the S&P 500 closing prices to daily returns.

In [110]:
sp500_data.pct_change()

               Close
Date
2019-04-23       NaN
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279
...              ...
2012-10-05  0.003469
2012-10-04  0.000322
2012-10-03 -0.007123
2012-10-02 -0.003611
2012-10-01 -0.000872

[1649 rows x 1 columns]

In [111]:
sp500_data.rename(columns = {'Close':'S&P500'}, inplace = True)
sp500_data.head()

             S&P500
Date
2019-04-23  2933.68
2019-04-22  2907.97
2019-04-18  2905.03
2019-04-17  2900.45
2019-04-16  2907.06

### 5. Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.

In [113]:
Merge_Portfolio = pd.concat([sp500_data, Algo_data, Whale_data], axis="columns", join="outer")
Merge_Portfolio

,S&P500,Algo 1,Algo 2,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,,,,
2012-10-01,1444.49,NaN,NaN,NaN,NaN,NaN,NaN
2012-10-02,1445.75,NaN,NaN,NaN,NaN,NaN,NaN
2012-10-03,1450.99,NaN,NaN,NaN,NaN,NaN,NaN
2012-10-04,1461.40,NaN,NaN,NaN,NaN,NaN,NaN
2012-10-05,1460.93,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2019-04-25,NaN,0.000682,-0.007247,-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,NaN,0.002981,0.005256,0.008149,0.009162,0.012355,0.010434
2019-04-29,NaN,0.005208,0.002829,0.001254,0.002719,0.006251,0.005223
2019-04-30,NaN,-0.002944,-0.001570,-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,NaN,0.000094,-0.007358,-0.005847,-0.001341,-0.007936,-0.007833

In [114]:
Merge_Portfolio.tail()

,S&P500,Algo 1,Algo 2,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,,,,
2019-04-25,NaN,0.000682,-0.007247,-0.000285,-0.001291,-0.005153,0.004848
2019-04-26,NaN,0.002981,0.005256,0.008149,0.009162,0.012355,0.010434
2019-04-29,NaN,0.005208,0.002829,0.001254,0.002719,0.006251,0.005223
2019-04-30,NaN,-0.002944,-0.001570,-0.001295,-0.002211,-0.000259,-0.003702
2019-05-01,NaN,0.000094,-0.007358,-0.005847,-0.001341,-0.007936,-0.007833

In [115]:
Merge_Portfolio.isnull().sum()

S&P500                          16
Algo 1                         424
Algo 2                         430
SOROS FUND MANAGEMENT LLC      606
PAULSON & CO.INC.              606
TIGER GLOBAL MANAGEMENT LLC    606
BERKSHIRE HATHAWAY INC         606
dtype: int64

In [121]:
Merge_Portfolio.dropna(inplace= True)
Merge_Portfolio

,S&P500,Algo 1,Algo 2,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,,,,
2015-03-03,2107.78,-0.001942,-0.000949,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,2098.53,-0.008589,0.002416,0.002230,0.003241,-0.002534,0.004213
2015-03-05,2101.04,-0.000955,0.004323,0.004016,0.004076,0.002355,0.006726
2015-03-06,2071.26,-0.004957,-0.011460,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,2079.43,-0.005447,0.001303,0.000582,0.004225,0.005843,-0.001652
...,...,...,...,...,...,...,...
2019-04-16,2907.06,-0.006945,0.002899,0.002699,0.000388,-0.000831,0.000837
2019-04-17,2900.45,-0.010301,-0.005228,-0.002897,-0.006467,-0.004409,0.003222
2019-04-18,2905.03,-0.000588,-0.001229,0.001448,0.001222,0.000582,0.001916
2019-04-22,2907.97,0.000677,-0.001936,-0.002586,-0.007333,-0.003640,-0.001088
2019-04-23,2933.68,0.004969,0.009622,0.007167,0.003485,0.006472,0.013278

# Perform Quantitative Analysis

### Analyze the data to determine if any of the portfolios outperform the stock market (that is, the S&P 500). 
### Specifically, you will do a performance analysis and a risk analysis, and then calculate rolling statistics and Sharpe ratios.

In [152]:
# 1.Calculate and plot daily returns of all portfolios.
MergePortfolio_DailyReturns= Merge_Portfolio.pct_change()
MergePortfolio_DailyReturns.dropna(inplace = True)
MergePortfolio_DailyReturns

,S&P500,Algo 1,Algo 2,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,,,,
2015-03-04,-0.004389,3.422374,-3.544766,-2.762070,-1.650792,4.113646,-1.641381
2015-03-05,0.001196,-0.888803,0.789231,0.800968,0.257544,-1.929234,0.596558
2015-03-06,-0.014174,4.190043,-3.650914,-2.968465,-1.876837,-4.601872,-2.947282
2015-03-09,0.003944,0.098917,-1.113716,-1.073656,-2.182252,-1.688907,-0.873840
2015-03-10,-0.016961,-0.744524,-10.327163,-18.625495,-2.263954,-3.067380,4.893672
...,...,...,...,...,...,...,...
2019-04-16,0.000509,0.603391,-1.634218,-2.898341,-1.335693,-3.088322,-1.079744
2019-04-17,-0.002274,0.483294,-2.803170,-2.073108,-17.661104,4.306537,2.851033
2019-04-18,0.001579,-0.942926,-0.764890,-1.499843,-1.188925,-1.131886,-0.405345
2019-04-22,0.001012,-2.150780,0.574781,-2.785826,-7.001458,-7.259521,-1.567709
2019-04-23,0.008841,6.345216,-5.970574,-3.771893,-1.475216,-2.777848,-13.206260

In [159]:
# 2.Calculate and plot cumulative returns for all portfolios. Does any portfolio outperform the S&P 500?
MergePortfolio_CumulativeReturns = MergePortfolio_DailyReturns.cumprod()
MergePortfolio_CumulativeReturns.plot()

### Risk Analysis

In [157]:
# 1.Create a box plot for each of the returns.
MergeBox = MergePortfolio_CumulativeReturns.boxplot(by='Date')


#,column=['S&P500','PAULSON & CO.INC.', 'Algo 1', 'Algo 2','SOROS FUND MANAGEMENT LLC','TIGER GLOBAL MANAGEMENT LLC','BERKSHIRE HATHAWAY INC']

C:\Users\danie\anaconda3\envs\dev\lib\site-packages\numpy\lib\function_base.py:4009: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)
C:\Users\danie\anaconda3\envs\dev\lib\site-packages\matplotlib\cbook\__init__.py:1220: RuntimeWarning: invalid value encountered in less_equal
  wiskhi = x[x <= hival]
C:\Users\danie\anaconda3\envs\dev\lib\site-packages\matplotlib\cbook\__init__.py:1227: RuntimeWarning: invalid value encountered in greater_equal
  wisklo = x[x >= loval]
C:\Users\danie\anaconda3\envs\dev\lib\site-packages\matplotlib\cbook\__init__.py:1235: RuntimeWarning: invalid value encountered in less
  x[x < stats['whislo']],
C:\Users\danie\anaconda3\envs\dev\lib\site-packages\matplotlib\cbook\__init__.py:1236: RuntimeWarning: invalid value encountered in greater
  x[x > stats['whishi']],

In [ ]:
# 2.Calculate the standard deviation for each portfolio.

In [ ]:
# 3.Determine which portfolios are riskier than the S&P 500.

In [ ]:
# 4.Calculate the annualized standard deviation.

### Rolling Statistics

In [127]:
#1.Calculate and plot the rolling standard deviation for all portfolios, using a 21-day window.

In [128]:
#2.Calculate and plot the correlation between each stock to determine which portfolios mimic the S&P 500.

In [129]:
#3.Choose one portfolio, then calculate and plot the 60-day rolling beta between that portfolio and the S&P 500.

### Rolling Statistics Challenge: Exponentially Weighted Average

### Sharpe Ratios

In [ ]:
# 1.Using the daily returns, calculate the Sharpe ratios and visualize them in a bar plot.

In [ ]:
# 2. Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

# Create a Custom Portfolio

In [ ]:
# 1. Use Google Sheets Links to an external site.and its built-in GOOGLEFINANCE function to choose 3–5 stocks for your portfolio.

In [ ]:
# 2. Download the data as CSV files and calculate the portfolio returns.

In [ ]:
# 3. Calculate the weighted returns for your portfolio, assuming equal number of shares per stock

In [ ]:
# 4. Add your portfolio returns to the DataFrame with the other portfolios.

In [ ]:
# 5. Run the following analyses:
    # Calculate the annualized standard deviation.
    # Calculate and plot the rolling standard deviation with a 21-day window.
    # Calculate and plot the correlation.
    # Calculate and plot beta for your portfolio compared to the S&P 60 TSX.
    # Calculate the Sharpe ratios and generate a bar plot.
    # How does your portfolio perform?